*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    background-color: white;
    height: 100px;
    width: 100%;
    align-items: center;

}
header h1{   
    padding-left: 200px;
    width: 300px;
    height: 80px;   
    line-height: 80px;
    background-image: url(../image/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}
header nav {
    margin-left: auto;
    margin-right: 80px;
    margin-top: 20px;
}
.login{
    border:1px solid #64ABD0;
    padding: 10px;
    border-radius:5px;
}
.login:hover{
    background-color: #D5F3FF;
    color:#7C7B7B;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header ul{
    display: flex;
    list-style: none;
    line-height:80px;
    gap: 40px;
}

header a{
    color: #484848;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}

.hero {
    display: flex;
    background-color: #EAF4F8;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.info{
    width: 40%;
    padding-left: 100px;
    line-height: 1.4;
}
.info h2{
    color: #117FB7;
    font-size: 42px;
    margin-bottom: 10px;
}
.info p{
    font-size: 22px;
    margin-bottom: 20px;
}
.info a{
    background-color: #619FBE;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    margin-left: 45px;
    font-size: 25px;
    text-decoration: none;
}
.reserve:hover{
    background-color: #4F8EAE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.hero img{
    width: 480px;
    height: 250px;
    border-radius: 60px;
}
