.hero {
    display: flex;
    background-color: #EAF4F8;
    height: 350px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.info{
    width: 40%;
    padding-left: 100px;
    line-height: 1.5;
}
.info h2{
    color: #117FB7;
    font-size: 48px;
     margin-bottom: 12px;
}
.info p{
    font-size: 22px;
    margin-bottom: 22px;
}
.info a{
    background-color: #619FBE;
    color: white;
    padding: 12px 22px;
    border-radius: 15px;
    margin-left: 45px;
    font-size: 25px;
    text-decoration: none;
}
.reserve:hover{
    background-color: #4F8EAE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.hero img{
    width: 500px;
    height: 280px;
    border-radius: 50px;
}
